tr.spaceUnder > td {
  padding-bottom: 0.1em; 
}

.claro .dijitButton .dijitButtonNode, .button {
  width : 100%;
  height: 30px;
}


.jimuCustomColor{
  font-size: 12px;
  background: #005134;
  border: 3px solid #009966;
  text-align: center;
  width: 64%;
  height: 30px;
  margin-bottom: 20px;
  margin-right: 15px;
  float: left;
}

.jimu-btn-clear{
  color: #000000;
  font-size: 14px !important;
  padding-top: 28px !important;
  background-color: #ffffff;;
  width: 30%;
  height: 80px;
  float: right;
  text-align: center;
  border: 1px solid #000000;
}

.jimu-btn-clear:hover{
  background-color: #CC0000;
}
.jimuCustomColor:hover{
  background-color: #007E33; 
}

.getUniqueValues{
  line-height: 22px;
  font-size: 12px;
  padding: 0 8px;
}

#uniquesMultiSelect{
  width: 235px;
  height: 115px;
}